extends layout.pug

block scripts
    script(src="/public/resources/index.js")
    script(src="/public/resources/sorttable.js")

block content

  div.table-filters
    select(onchange="SummonSite.filterTable()")#spellSelector
      option All Spells
      each spell in spellData
        option #{spell.spell}
    select(onchange="SummonSite.filterTable()")#levelSelector
      option All Levels
      option 1
      option 2
      option 3
      option 4
      option 5
      option 6
      option 7
      option 8
      option 9
      option 10
    input(type="checkbox", onclick="SummonSite.filterTable()")#upToLevelCheck
    label(for="upToLevelCheck") Show all creatures up to this level
  table.sortable#monsterTable
    tr
      th Spell Level
      th Monster
      th Level
      th Traits
      th
    each monster in monsters
      tr 
        //- All spell levels should be the same, use the first one.
        td.spellLevel #{monster.summonSpells[0].level}
        td 
          a(href=monster.url, target="_blank") #{monster.name}
        td #{monster.level}
        td #{monster.traits}
        td 
          a(onclick="SummonSite.showMonster(" + JSON.stringify(monster) + ")") 👁
        each spell in monster.summonSpells
          td.spellColumn #{spell.spell}
        td.dataColumn #{JSON.stringify(monster)}
  include sidebar.pug
