extends layout.pug

block content
  h1 Summon Site

  div.table-filters
    select#spell
      option Summon Animal
      option Summon Celestial
      option Summon Construct
      option Summon Dragon
    select#level
      option 1
      option 2
      option 3
      option 4
    input(type="checkbox")
    label Show all creatures up to this level
  table
    tr
      th Spell Level
      th Monster
      th Family
      th Level
      th Alignment
      th Type
      th Size
    each monster in monsters
      // e.g. an Adule Cloud Dragon
      // {
      //   "name":"Adult Cloud Dragon",
      //   "url":"https://2e.aonprd.com/Monsters.aspx?ID=625",
      //   "family":"Dragon, Cloud",
      //   "level":14,
      //   "alignment":"Neutral",
      //   "creatureType":"Dragon, Elemental",
      //   "size":"Huge",
      //   "summonSpells":[
      //     {"spell":"Summon Dragon","level":10},
      //     {"spell":"Summon Elemental","level":10}
      //   ]
      // }
      tr 
        // All spell levels should be the same, use the first one.
        td #{monster.summonSpells[0].level}
        td 
          a(href=monster.url, target="_blank") #{monster.name}
        td #{monster.family}
        td #{monster.level}
        td #{monster.alignment}
        td #{monster.creatureType}
        td #{monster.size}
        each spell in monster.summonSpells
          td.dataColumn #{spell.spell}
